a {
    font-weight: bold;
    background-color: #E9D4C9;
    margin-top: 20px;
    color: black;
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    align-items: center;

    cursor: pointer;
    font-family: "Abel", sans-serif;
}